body{
    background-color: rgb(225, 225, 225);
    height: 100vh;
    background: #74ebd5;
    background: -webkit-linear-gradient(
        to right,
        #d4c1f9,
        #acf6f7
    );
    background: linear-gradient(
        to right,
        #d4c1f9,
        #acf6f7
    );
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
}

img{
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid{
    // display: flex;
    // flex-wrap: wrap;
    // height: 400px;
    // width: 700px;
    display: grid;
    grid-template-columns: repeat(7, 6.5rem);
    grid-template-rows: repeat(4,6.5rem);

}

.title{
    text-align: center;
    font-family: Hubballi ,Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container-timer{
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
}

.progress{
    width: 300px;
    height: 20px;
    background: rgb(179, 179, 179);
    position: relative;
}
.progress-inner{
    background: rgb(122, 237, 122);
    position: absolute;
    width: 100%;
    height: 100%;
}

h1{
    margin-bottom: 4rem;
    font-size: 50px;
}
h2{
    text-align: center;
    font-family: Hubballi ,Arial, Helvetica, sans-serif;
    font-weight: bold;
}